@import "compass";
@import "compass/reset";

/******* font *******/
$fs: 16px;
$fs_title: 26px;
$fs_title_circle: 36px;
$fs_member_nsme: 24px;
$fs_info_date: 16px;
$fs_info: 20px;
$fs_h1: 14px;
$fs_copy: 10px;
$fs_end_msg: 14px;
$fs_ticker: 12px;
$fs_member_position: 24px;
$fs_member_name: 40px;
$fs_member_plofile: 16px;
$fs_blog_title: 20px;
$fs_blog_date: 12px;
$fs_blog_text: 14px;
$fs_widget_title: 18px;
$fs_widget_list: 14px;
$fs_archive_title: 16px;
$fs_site_info: 12px;

$fm: "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "ＭＳ Ｐゴシック" , "MS PGothic" , "Meiryo UI" , "メイリオ" , Meiryo , sans-serif;
$fm_mei: "Meiryo UI" , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

/******** color ********/
$green: #125045;
$green_a: rgba(3,43,46,0.7);
$pink: #e42a8a;
$pink_l: #ff80c2;
$text_yellow: #fff7ce;
$white: #fff;
$shadow_col: rgba(3,37,31,0.5);
$tv_border_blue: #1593b5;
$gray_blog_date: #aaa;
$gray_widget_list: #aaa;
$gray_widget_list2: #222;

/******** boder ********/



/******** reset ********/
a{
    text-decoration: none;
}

/******* @mixin *******/
@mixin border_pink{
    border-bottom: 5px solid $pink;
}
@mixin bar_green{
    background: $green;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 500;
    @include border_pink;
    @include box-shadow(0px 3px 5px $shadow_col);
}
@mixin box_alpha{
    background: $green_a;
    border: #eef5df solid 5px;
    box-sizing: border-box;
    @include shadow;
    @include border-radius(30px);
}
@mixin box_white{
    background: $white;
    @include border-radius(50px);
    @include shadow;
}
@mixin shadow{
    @include box-shadow(5px 5px 5px $shadow_col);
}

/******** bg/bg_img ********/
@mixin bg_main{
    background: url(../images/main_bg.png) no-repeat center center;
}
@mixin bg_main_frame{
    background: url(../images/main_frame.png)no-repeat center 60px;
}
@mixin bg{
    background: url(../images/bg.png) repeat;
}
@mixin bg_page_header{
    background: url(../images/header_bg.png)no-repeat center center;
}


/******** wrap ********/
@mixin wrap{
    width: 1000px;
    margin: 0 auto;
}



/******** class ********/
.clear{
    @include pie-clearfix;
}
.italic{
    font-style: italic;
}
.wakame{
    width:100%;
    height:100%;
    background-image: url('../images/wakame1.png'), url('../images/wakame2.png');
    animation: wakame 8s linear infinite;
}
.bar_green {
    @include bar_green;
    min-height: 55px;
}
.tv {
    .tv_wrap {
        position: relative;
        perspective: 10px;
    }
    .tv_screen {
        position: absolute;
        top: 32%;
        left: 2%;
        width: 63%;
        line-height: 0;
        box-sizing: border-box;
        transform: rotateY(-0.1deg);
        border: 5px solid $tv_border_blue;
        .slick-arrow{
            position: absolute;
            background: none;
            border: none;
            box-shadow: none;
            opacity: 0;
        }
        .slick-next{
            width: 15%;
            height: 20%;
            top: 0;
            right: -19%;
        }
        .slick-prev{
            width: 8%;
            height: 10%;
            top: 29%;
            right: -16%;
        }
        img {
        }
    }
}

/******** animation ********/
@keyframes wakame {
    0% {background-position: 0 0, 0 0, 0 0;}
    100% {background-position: 0px 400px, 0px 300px, 0px 0px;}
}
@mixin nav_anime{
    img{
        @include transition(transform 0.3s ease-out 0.2s);
    }
    &:hover{
        img{
            @include transform(translate(0,-15px));
        }
    }
}
@mixin page_top_anime{
    img{
        @include transition(transform 2s ease-out 0.2s);
    }
    &:hover{
        img{
            @include transform(rotate(20deg));
        }
    }
}

/******** body ********/
body{
    font-size: $fs;
    font-family: $fm;
    line-height: 1.2;
    background-color: $green;
}
#wrapper{

}
a:focus{
    outline: none;
}


/******** header ********/
header{
    @include bar_green;
    color: $white;
    #header_wrap {
        position: relative;
        margin: 0 auto;
        height: 100%;
        .site_title{
            font-size: $fs_h1;
            position: absolute;
            left: 1em;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 1em;
            a{
                color: $white;
                &:hover{
                    color: $white;
                }
            }
        }
        #copy{
            font-size: $fs_copy;
            position: absolute;
            right: 1em;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 1em;

        }
    }
}

/******** top_main ********/
#top_main {
    @include bg_main;
    #top_main_wrap {
        @include wrap;
    }
    #top_main_box {
        @include bg_main_frame;
        position: relative;
        height: 697px;
    }
    #top_main_title_box {
        position: absolute;
        top: 15px;
        left: 10px;
    }
    #top_main_logo {
        a {
            &:hover{
            }
            img {
            }
        }
    }

    #top_main_title {
        text-align: center;
        font-size: $fs_title;
        color: $green;
        font-weight: bold;
        margin-top: 10px;
        span{
            font-size: 80%;
        }
    }
    .ticker {
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        margin: 15px 90px;
        line-height: 2;
        font-size: $fs_ticker;
        position: relative;
        overflow: hidden;
        text-indent: 0.5em;
        ul{
            li{
                opacity: 0;
            }
        }
    }
    .main_img1 ,.main_img2 ,.main_img3 {
        position: absolute;
    }
    .main_img1 {
        right: -70px;
        top: 10px;
        z-index: 200;
    }
    .main_img2 {
        right: 347px;
        top: 272px;
        z-index: 300;
    }
    .main_img3 {
        right: 270px;
        top: 30px;
        z-index: 100;
    }
}

/******** top_nav ********/
#top_nav {
    @include bar_green;
    height: 100px;
    #top_nav_wrap {
        @include wrap;
        position: relative;
        height: 100%;
    }
    .top_nav_box {
        position: absolute;
        left: 0px;
        bottom: 5px;
        box-sizing: border-box;
        ul {
            letter-spacing: -5px;
            li {
                @include inline-block;
                vertical-align: bottom;
                letter-spacing: normal;
                &:nth-child(odd){
                    margin-bottom: 85px;
                }
            }
            a {
                @include nav_anime;
                &:hover{
                }
                img {
                }
            }
        }
    }

    .tv {
        position: absolute;
        right: -10px;
        bottom: 5px;
    }
}

/******** contents ********/
#contents {
    @include bg;
    #contents_wrap {
        @include wrap;
        padding-top: 60px;
    }

    /******** main_contents ********/
    #main_contents {
        float: left;
        width: 650px;
        &.clumn_1{
            width: 100%;
            float: none;
        }
    }
    .banner_box {
        margin-bottom: 40px;
        img{
            @include shadow;
        }
    }
    #info_title {
        margin-bottom: 3px;
    }
    .info_box {
        @include box_alpha;
        padding: 20px 30px 25px;
        min-height: 270px;
        font-family: $fm_mei;
        .info_list {
            li {
                display: table;
                margin-bottom: 18px;
                width: 100%;
                &:last-child{
                    margin-bottom: 0;
                }
                .new {
                    display: table-cell;
                    width: 13%;
                    img{
                        vertical-align: bottom;
                        visibility: hidden;
                    }
                    &.visible{
                        img{
                            visibility: visible;
                        }
                    }

                }
                .info_date {
                    width: 21%;
                    color: $white;
                    font-size: $fs_info_date;
                    font-weight: bold;
                    display: table-cell;
                }
                .info_title {
                    width: 66%;
                    font-size: $fs_info;
                    font-weight: bold;
                    display: table-cell;
                    a{
                        color: $text_yellow;
                        text-decoration: underline;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    /******** side_contents ********/
    #side_contents {
        float: right;
        width: 300px;
    }
    .twitter {
        margin-bottom: 40px;
        iframe{
            @include shadow;
        }
    }

    /******** end_msg ********/
    #end_msg {
        @include wrap;
        padding-bottom: 200px;
        margin-top: 80px;
        p {
            font-size: $fs_end_msg;
            font-family: $fm_mei;
        }

        .site-info{
            font-size: $fs_site_info;
            a{
                color: rosybrown;
            }
        }
    }
}

/******** foot_nav ********/
#foot_nav {
    @include bar_green;
    position: fixed;
    bottom: -220px;
    width: 100%;
    #foot_nav_wrap {
        @include wrap;
        position: relative;
        height: 100%;
    }
    nav {
        position: absolute;
        left: 0px;
        bottom: 5px;
        width: 100%;
    }
    ul {
        li {
            @include inline-block;
            vertical-align: bottom;
            margin-right: 1%;
        }
        :nth-child(odd){
            //                margin-bottom: 85px;
        }
        a {
            @include nav_anime;
            &:hover{
            }
            img {
                width: 80%;
            }
        }
    }
    .tv {
        position: absolute;
        right: 140px;
        width: 21%;
        bottom: 5px;
        .tv_screen{
            border: 3px solid $tv_border_blue;
        }
    }
    .page_top {
        position: absolute;
        right: 0px;
        bottom: 5px;
        a {
            @include page_top_anime;
            &:hover{
            }
        }
        img {
        }
    }
}

/******** page ********/
#page_header {
    @include bg_page_header;
    padding: 10px 0;
    #page_header_wrap {
        @include wrap;
    }
    #page_header_logo {
    }
    a {
        &:hover{
        }
    }
    img {
    }
    #page_header_box {
    }
}

/******** circle ********/
#circle_box {
    @include box_white;
    width: 860px;
    margin: 0 auto;
    padding: 40px 55px 50px;
    text-align: center;
    margin-bottom: 80px;
    #circle_title {
        font-size: $fs_title_circle;
        color: $pink;
        font-weight: bold;
        margin-bottom: 30px;
    }
    #circle_text {
        font-weight: bold;
        line-height: 1.8;
    }
}
#title_member {
    margin-bottom: 20px;
}
.member_box {
    margin-bottom: 50px;
    .member_thumb {
        float: left;
    }
    .member_text_box {
        @include box_alpha;
        font-family: $fm_mei;
        color: $white;
        float: right;
        padding: 35px 35px 60px;
        width: 81%;
        letter-spacing: 0.1em;
    }
    .member_position {
        font-size: $fs_member_position;
        color: $pink_l;
        margin-bottom: 20px;
    }
    .member_name {
        font-size: $fs_member_name;
        margin-bottom: 25px;
    }
    .member_plofile {
        font-size: $fs_member_plofile;
        line-height: 1.6;
    }
}

/******** gallery ********/
#title_gallery {
    margin-bottom: 20px;
}
#gallery_wrap {
    #gallery_list {
        text-align: center;
    }
    .gallery_item {
        @include inline-block;
        @include border-radius(50%);
        overflow: hidden;
        border: 8px solid #fff;
        max-width: 176px;
        max-height: 176px;
        margin: 10px;
    }
    a {
        &:hover{
        }
    }
    img {
    }
}

/******** blog ********/
.blog_box {
    @include box_white;
    padding: 30px 40px 40px;
    min-height: 270px;
    margin-bottom: 50px;
    font-family: $fm_mei;
    letter-spacing: 0.5px;
    .blog_title_box {
        border-bottom: 3px dotted $pink;
        padding-left: 4px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .blog_title {
        font-size: $fs_blog_title;
        font-weight: bold;
    }
    .blog_date {
        font-size: $fs_blog_date;
        color: $gray_blog_date;
        text-align: right;
    }
    .blog_text_box {
        padding-left: 4px;
        p {
            font-size: $fs_blog_text;
            line-height: 1.5;
        }
    }
}

#archive_title{
    font-size: $fs_archive_title;
    color: $pink_l;
    font-weight: bold;
    margin-bottom: 15px;
}

/******** widget ********/
.widget{
    @include box_white;
    padding: 30px 40px;
    min-height: 150px;
    .widget-title{
        font-size: $fs_widget_title;
        margin-bottom: 5px;

    }
    ul{
        li{
            a{
                font-size: $fs_widget_list;
                color: $gray_widget_list;
                &:hover{
                    color: $gray_widget_list2;
                }
            }
        }
    }
}

/******** margin ********/
@each $num in 1,2,3,4,5,6,7,8,9,10{
    .mt#{$num}0{margin-top: #{$num}0px;}
}
