@import "compass";
@import "compass/reset";

/******* font *******/
$fs: 16px;
$fs_title: 26px;
$fs_title_circle: 36px;
$fs_member_nsme: 24px;
$fs_info_date: 16px;
$fs_info: 20px;
$fs_h1: 14px;
$fs_copy: 10px;
$fs_end_msg: 14px;
$fs_ticker: 12px;
$fm: "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "ＭＳ Ｐゴシック" , "MS PGothic" , "Meiryo UI" , "メイリオ" , Meiryo , sans-serif;
$fm_mei: "Meiryo UI" , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;

/******** color ********/
$green: #125045;
$green_a: rgba(3,43,46,0.7);
$pink: #e42a8a;
$text_yellow: #fff7ce;
$white: #fff;
$shadow_col: rgba(3,37,31,0.5);

/******** boder ********/



/******** reset ********/
a{
    text-decoration: none;
}

/******* @mixin *******/
@mixin border_pink{
    border-bottom: 5px solid $pink;
}
@mixin bar_green{
    background: $green;
    height: 50px;
    box-sizing: border-box;
    position: relative;
    z-index: 500;
    @include border_pink;
    @include box-shadow(0px 3px 5px $shadow_col);
}
@mixin box_alpha{
    background: $green_a;
    border: #eef5df solid 5px;
    box-sizing: border-box;
    @include shadow;
    @include border-radius(30px);
}
@mixin shadow{
    @include box-shadow(5px 5px 5px $shadow_col);
}

/******** bg/bg_img ********/
@mixin bg_main{
    background: url(../images/main_bg.png) no-repeat center center;
}
@mixin bg_main_frame{
    background: url(../images/main_frame.png)no-repeat center 60px;
}
@mixin bg{
    background: url(../images/bg.png) repeat;
}

/******** wrap ********/
@mixin wrap{
    width: 1000px;
    margin: 0 auto;
}



/******** class ********/
.clear{
    @include pie-clearfix;
}
.italic{
    font-style: italic;
}
.wakame{
    width:100%;
    height:100%;
    background-image: url('../images/wakame1.png'), url('../images/wakame2.png');
    animation: wakame 8s linear infinite;
}

/******** animation ********/
@keyframes wakame {
    0% {background-position: 0 0, 0 0, 0 0;}
    100% {background-position: 0px 400px, 0px 300px, 0px 0px;}
}

/******** body ********/
body{
    font-size: $fs;
    font-family: $fm;
    line-height: 1.2;
}
#wrapper{

}

/******** header ********/
header{
    @include bar_green;
    color: $white;
    #header_wrap {
        position: relative;
        margin: 0 auto;
        height: 100%;
        .site_title{
            font-size: $fs_h1;
            position: absolute;
            left: 1em;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 1em;
            a{
                color: $white;
                &:hover{
                    color: $white;
                }
            }
        }
        #copy{
            font-size: $fs_copy;
            position: absolute;
            right: 1em;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 1em;

        }
    }
}

/******** top_main ********/
#top_main {
    @include bg_main;
    #top_main_wrap {
        @include wrap;
    }
    #top_main_box {
        @include bg_main_frame;
        position: relative;
        height: 697px;
    }
    #top_main_title_box {
        position: absolute;
        top: 15px;
        left: 10px;
    }
    #top_main_logo {
        a {
            &:hover{
            }
            img {
            }
        }
    }

    #top_main_title {
        text-align: center;
        font-size: $fs_title;
        color: $green;
        font-weight: bold;
        margin-top: 10px;
        span{
            font-size: 80%;
        }
    }
    .ticker {
        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
        margin: 15px 90px;
        line-height: 2;
        font-size: $fs_ticker;
    }
    .main_img1 ,.main_img2 ,.main_img3 {
        position: absolute;
    }
    .main_img1 {
        right: -70px;
        top: 10px;
        z-index: 200;
    }
    .main_img2 {
        right: 347px;
        top: 272px;
        z-index: 300;
    }
    .main_img3 {
        right: 270px;
        top: 30px;
        z-index: 100;
    }
}

/******** top_nav ********/
#top_nav {
    @include bar_green;
    height: 100px;
    #top_nav_wrap {
        @include wrap;
        position: relative;
        height: 100%;
    }
    .top_nav_box {
        position: absolute;
        left: 0px;
        bottom: 5px;
        box-sizing: border-box;
        ul {
            letter-spacing: -40em;
            li {
                @include inline-block;
                vertical-align: bottom;
                letter-spacing: normal;
                &:nth-child(odd){
                    margin-bottom: 85px;
                }
            }
            a {
                &:hover{
                }
                img {
                }
            }
        }
    }

    .tv {
        position: absolute;
        right: -10px;
        bottom: 5px;
    }
}

/******** contents ********/
#contents {
    @include bg;
    #contents_wrap {
        @include wrap;
        padding-top: 60px;
    }

    /******** main_contents ********/
    #main_contents {
        float: left;
        width: 650px;
    }
    .banner_box {
        margin-bottom: 40px;
        img{
            @include shadow;
        }
    }
    #info_title {
        margin-bottom: 3px;
    }
    .info_box {
        @include box_alpha;
        padding: 20px 30px 25px;
        min-height: 270px;
        font-family: $fm_mei;
        .info_list {
            li {
                display: table;
                margin-bottom: 18px;
                width: 100%;
                &:last-child{
                    margin-bottom: 0;
                }
                .new {
                    display: table-cell;
                    width: 13%;
                    img{
                        vertical-align: bottom;
                        visibility: hidden;
                    }
                    &.visible{
                        img{
                            visibility: visible;
                        }
                    }

                }
                .info_date {
                    width: 21%;
                    color: $white;
                    font-size: $fs_info_date;
                    font-weight: bold;
                    display: table-cell;
                }
                .info_title {
                    width: 66%;
                    font-size: $fs_info;
                    font-weight: bold;
                    display: table-cell;
                    a{
                        color: $text_yellow;
                        text-decoration: underline;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    /******** side_contents ********/
    #side_contents {
        float: right;
        width: 300px;
    }
    .twitter {
        margin-bottom: 40px;
        iframe{
            @include shadow;
        }
    }

    /******** end_msg ********/
    #end_msg {
        @include wrap;
        padding-bottom: 200px;
        margin-top: 80px;
        p {
            font-size: $fs_end_msg;
            font-family: $fm_mei;
        }
    }
}

/******** foot_nav ********/
#foot_nav {
    @include bar_green;
    position: fixed;
    bottom: -220px;
    width: 100%;
    #foot_nav_wrap {
        @include wrap;
        position: relative;
        height: 100%;
    }
    nav {
        position: absolute;
        left: 0px;
        bottom: 5px;
        width: 100%;
    }
    ul {
        li {
            @include inline-block;
            vertical-align: bottom;
            margin-right: 1%;
        }
        :nth-child(odd){
            //                margin-bottom: 85px;
        }
        a {
            &:hover{
            }
            img {
                width: 80%;
            }
        }
    }
    .tv {
        position: absolute;
        right: -80px;
        bottom: 5px;
        img{
            width: 50%;
        }
    }
    .page_top {
        position: absolute;
        right: 0px;
        bottom: 5px;
        a {
            &:hover{
            }
        }
        img {
        }
    }
}

/******** margin ********/
@each $num in 1,2,3,4,5,6,7,8,9,10{
    .mt#{$num}0{margin-top: #{$num}0px;}
}
